@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Roboto:wght@400;700&display=swap');

body {

    font-family: 'Roboto', sans-serif;
}

.background-image {
    background-image: url("/public/herotea.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size: auto auto;
}

@media (max-width:720px) {
    .logo-image {
        /* width: 250px;
        height: 400px; */
    }
    
}

.primary-color {
    background-color: #06283D;
}

.secondary-color {
    background-color: #A3C7D6;
}

.letter-color {
    color: #06283D;
}

.icons {
    color: #06283D;
    font-size: 2rem;
}